### **PROJETO EM GRUPO Módulo 5 – Criptomoedas**

##### **O QUE É PRA FAZER? Você e a sua equipe foram escalados por uma corretora financeira para realizar uma análise exploratória relacionada à série histórica dos valores de criptomoedas. As fontes de dados que serão utilizadas no projeto estão disponíveis no Kaggle. Serão utilizados os arquivos de 10 criptomoedas no período entre 2015 e 2018, contendo a série histórica dos preços das criptomoedas nesse período.**

**Índice.**

**1. Importando Bibliotecas**

**2. Carregando Arquivo**

**3. Filtrando pelas datas de 2015 e 2018**

**4. Vericando as principais moedas do mercado**

**5. Criando, removendo e redirecionando colunas**

**6. Finalização e insights gerados.**

### **1. Importando a biblioteca Pandas para realizar a extração, limpeza e análise exploratória dos dados.**

In [80]:
import pandas as pd

### **2. Carregando o arquivo CSV**

In [81]:
df2 = pd.read_csv('all_currencies.csv')
df2

,Unnamed: 0,Date,Symbol,Open,High,Low,Close,Volume,Market Cap
0,0,2015-11-12,$$$,0.000013,0.000017,0.000013,0.000017,142.0,NaN
1,1,2015-11-13,$$$,0.000017,0.000033,0.000016,0.000024,85.0,NaN
2,2,2015-11-14,$$$,0.000024,0.000053,0.000023,0.000030,131.0,NaN
3,3,2015-11-15,$$$,0.000030,0.000063,0.000022,0.000035,132.0,NaN
4,4,2015-11-16,$$$,0.000035,0.000046,0.000032,0.000036,280.0,NaN
...,...,...,...,...,...,...,...,...,...
632213,298,2018-09-23,ZZC,0.067149,0.067324,0.024069,0.024161,34.0,130705.0
632214,299,2018-09-24,ZZC,0.024167,0.091875,0.024121,0.091631,58.0,47041.0
632215,300,2018-09-25,ZZC,0.091528,0.091568,0.057507,0.090547,752.0,178158.0
632216,301,2018-09-26,ZZC,0.090400,0.104745,0.086071,0.086559,60.0,175963.0
632217,302,2018-09-27,ZZC,0.086664,0.130541,0.067363,0.073475,91.0,168691.0

### **3. Filtrando os dados pelas datas requisitadas e excluindo os que não serão necessários para a realização do projeto.**

In [82]:
excluir_anos = ['2013', '2014', '2019', '2020', '2021']
df2 = df2[~df2['Date'].str.contains('|'.join(excluir_anos))]

# Exibindo o DataFrame resultante
df2

,Unnamed: 0,Date,Symbol,Open,High,Low,Close,Volume,Market Cap
0,0,2015-11-12,$$$,0.000013,0.000017,0.000013,0.000017,142.0,NaN
1,1,2015-11-13,$$$,0.000017,0.000033,0.000016,0.000024,85.0,NaN
2,2,2015-11-14,$$$,0.000024,0.000053,0.000023,0.000030,131.0,NaN
3,3,2015-11-15,$$$,0.000030,0.000063,0.000022,0.000035,132.0,NaN
4,4,2015-11-16,$$$,0.000035,0.000046,0.000032,0.000036,280.0,NaN
...,...,...,...,...,...,...,...,...,...
632213,298,2018-09-23,ZZC,0.067149,0.067324,0.024069,0.024161,34.0,130705.0
632214,299,2018-09-24,ZZC,0.024167,0.091875,0.024121,0.091631,58.0,47041.0
632215,300,2018-09-25,ZZC,0.091528,0.091568,0.057507,0.090547,752.0,178158.0
632216,301,2018-09-26,ZZC,0.090400,0.104745,0.086071,0.086559,60.0,175963.0
632217,302,2018-09-27,ZZC,0.086664,0.130541,0.067363,0.073475,91.0,168691.0

### **4. Verificando as moedas que possuem o maior valor de Marketcap.**
#### Para trabalhar neste projeto, serão selecionadas as 10 moedas que mais se destacaram na capitalização de mercado

In [83]:
# Filtrar e somar os dados da coluna "Market Cap" por "Symbol"
symbol_market_cap = df2.groupby('Symbol')['Market Cap'].sum()

# Exibir o resultado
symbol_market_cap.nlargest(10)

Symbol
BTC      6.738242e+13
ETH      2.391410e+13
XRP      1.095789e+13
BCH      7.208144e+12
LTC      3.013136e+12
EOS      2.173411e+12
ADA      2.139479e+12
XLM      1.766153e+12
MIOTA    1.709241e+12
DASH     1.601090e+12
Name: Market Cap, dtype: float64

In [85]:
# Filtrar e somar os dados da coluna "Market Cap" por "Symbol"
symbol_market_cap = df2.groupby('Symbol')['Market Cap'].sum()
# Obter os símbolos das 10 maiores market caps
top_moedas = symbol_market_cap.nlargest(10).index
# Filtrar o DataFrame para manter apenas as linhas com os símbolos no filtro
df_filtered = df2.loc[df2['Symbol'].isin(top_moedas)]
# Exibir o DataFrame resultante
df_filtered

,Unnamed: 0,Date,Symbol,Open,High,Low,Close,Volume,Market Cap
17234,0,2017-10-01,ADA,0.021678,0.032226,0.017354,0.024969,5.006870e+07,NaN
17235,1,2017-10-02,ADA,0.024607,0.030088,0.019969,0.025932,5.764130e+07,NaN
17236,2,2017-10-03,ADA,0.025757,0.027425,0.020690,0.020816,1.699780e+07,6.246507e+08
17237,3,2017-10-04,ADA,0.020864,0.022806,0.020864,0.021931,9.000050e+06,5.409455e+08
17238,4,2017-10-05,ADA,0.021951,0.022154,0.020859,0.021489,5.562510e+06,5.691340e+08
...,...,...,...,...,...,...,...,...,...
609793,1876,2018-09-23,XRP,0.575220,0.595025,0.559651,0.570689,1.043970e+09,2.289899e+10
609794,1877,2018-09-24,XRP,0.570614,0.580377,0.489646,0.494712,1.034380e+09,2.271562e+10
609795,1878,2018-09-25,XRP,0.487622,0.546061,0.441519,0.526941,1.639680e+09,1.944193e+10
609796,1879,2018-09-26,XRP,0.520288,0.566711,0.491498,0.516308,1.821610e+09,2.074436e+10
609797,1880,2018-09-27,XRP,0.516478,0.550922,0.513967,0.541381,8.240830e+08,2.059243e+10

### **5. Criando, removendo e redirecionando colunas.**
#### Criando a coluna "Name". Nesta coluna será adicionado o nome das criptomoedas para juntamente com o símbolo, facilitar a busca e compreensão de qual moeda será realizada as queries.

In [86]:
# Criar um dicionário de mapeamento de símbolos para nomes
criptomoedas = {
    'BTC': 'Bitcoin',
    'ETH': 'Ethereum',
    'XRP': 'Ripple',
    'BCH': 'Bitcoin Cash',
    'LTC': 'Litecoin',
    'EOS': 'EOS',
    'ADA': 'Cardano',
    'XLM': 'Stellar',
    'MIOTA': 'IOTA',
    'DASH': 'Dash'
}
# Adicionar a coluna "Name" baseada no mapeamento de símbolos para nomes
df_filtered['Name'] = df_filtered['Symbol'].map(criptomoedas)

# Exibir o DataFrame resultante
df_filtered

C:\Users\Prince\AppData\Local\Temp\ipykernel_18224\148050106.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Name'] = df_filtered['Symbol'].map(criptomoedas)

,Unnamed: 0,Date,Symbol,Open,High,Low,Close,Volume,Market Cap,Name
17234,0,2017-10-01,ADA,0.021678,0.032226,0.017354,0.024969,5.006870e+07,NaN,Cardano
17235,1,2017-10-02,ADA,0.024607,0.030088,0.019969,0.025932,5.764130e+07,NaN,Cardano
17236,2,2017-10-03,ADA,0.025757,0.027425,0.020690,0.020816,1.699780e+07,6.246507e+08,Cardano
17237,3,2017-10-04,ADA,0.020864,0.022806,0.020864,0.021931,9.000050e+06,5.409455e+08,Cardano
17238,4,2017-10-05,ADA,0.021951,0.022154,0.020859,0.021489,5.562510e+06,5.691340e+08,Cardano
...,...,...,...,...,...,...,...,...,...,...
609793,1876,2018-09-23,XRP,0.575220,0.595025,0.559651,0.570689,1.043970e+09,2.289899e+10,Ripple
609794,1877,2018-09-24,XRP,0.570614,0.580377,0.489646,0.494712,1.034380e+09,2.271562e+10,Ripple
609795,1878,2018-09-25,XRP,0.487622,0.546061,0.441519,0.526941,1.639680e+09,1.944193e+10,Ripple
609796,1879,2018-09-26,XRP,0.520288,0.566711,0.491498,0.516308,1.821610e+09,2.074436e+10,Ripple
609797,1880,2018-09-27,XRP,0.516478,0.550922,0.513967,0.541381,8.240830e+08,2.059243e+10,Ripple

#### Renomeando e redirecionando as colunas.

In [87]:
# Mover a coluna "Name" para a posição 1
name_col = df_filtered.pop('Name')
df_filtered.insert(1, 'Name', name_col)

# Mover a coluna "Symbol" para a posição 2
symbol_col = df_filtered.pop('Symbol')
df_filtered.insert(2, 'Symbol', symbol_col)

# Renomear a coluna "Market Cap" para "Marketcap"
df_filtered = df_filtered.rename(columns={'Market Cap': 'Marketcap'})

# Exibir o DataFrame resultante
df_filtered

,Unnamed: 0,Name,Symbol,Date,Open,High,Low,Close,Volume,Marketcap
17234,0,Cardano,ADA,2017-10-01,0.021678,0.032226,0.017354,0.024969,5.006870e+07,NaN
17235,1,Cardano,ADA,2017-10-02,0.024607,0.030088,0.019969,0.025932,5.764130e+07,NaN
17236,2,Cardano,ADA,2017-10-03,0.025757,0.027425,0.020690,0.020816,1.699780e+07,6.246507e+08
17237,3,Cardano,ADA,2017-10-04,0.020864,0.022806,0.020864,0.021931,9.000050e+06,5.409455e+08
17238,4,Cardano,ADA,2017-10-05,0.021951,0.022154,0.020859,0.021489,5.562510e+06,5.691340e+08
...,...,...,...,...,...,...,...,...,...,...
609793,1876,Ripple,XRP,2018-09-23,0.575220,0.595025,0.559651,0.570689,1.043970e+09,2.289899e+10
609794,1877,Ripple,XRP,2018-09-24,0.570614,0.580377,0.489646,0.494712,1.034380e+09,2.271562e+10
609795,1878,Ripple,XRP,2018-09-25,0.487622,0.546061,0.441519,0.526941,1.639680e+09,1.944193e+10
609796,1879,Ripple,XRP,2018-09-26,0.520288,0.566711,0.491498,0.516308,1.821610e+09,2.074436e+10
609797,1880,Ripple,XRP,2018-09-27,0.516478,0.550922,0.513967,0.541381,8.240830e+08,2.059243e+10

#### A coluna "Unnamed: 0" será excluida, pois não será utilizada.

In [88]:
# Excluir a coluna "Unnamed: 0"
df = df_filtered.drop(columns=['Unnamed: 0'])
df

,Name,Symbol,Date,Open,High,Low,Close,Volume,Marketcap
17234,Cardano,ADA,2017-10-01,0.021678,0.032226,0.017354,0.024969,5.006870e+07,NaN
17235,Cardano,ADA,2017-10-02,0.024607,0.030088,0.019969,0.025932,5.764130e+07,NaN
17236,Cardano,ADA,2017-10-03,0.025757,0.027425,0.020690,0.020816,1.699780e+07,6.246507e+08
17237,Cardano,ADA,2017-10-04,0.020864,0.022806,0.020864,0.021931,9.000050e+06,5.409455e+08
17238,Cardano,ADA,2017-10-05,0.021951,0.022154,0.020859,0.021489,5.562510e+06,5.691340e+08
...,...,...,...,...,...,...,...,...,...
609793,Ripple,XRP,2018-09-23,0.575220,0.595025,0.559651,0.570689,1.043970e+09,2.289899e+10
609794,Ripple,XRP,2018-09-24,0.570614,0.580377,0.489646,0.494712,1.034380e+09,2.271562e+10
609795,Ripple,XRP,2018-09-25,0.487622,0.546061,0.441519,0.526941,1.639680e+09,1.944193e+10
609796,Ripple,XRP,2018-09-26,0.520288,0.566711,0.491498,0.516308,1.821610e+09,2.074436e+10
609797,Ripple,XRP,2018-09-27,0.516478,0.550922,0.513967,0.541381,8.240830e+08,2.059243e+10

#### Criando a coluna ID. Nesta coluna será adicionada em ordem a quantidade total de linhas do dataframe, ao criar o banco de dados, seus valores serão utilizados como Primary Key.

In [89]:
# Adicionar a coluna "ID" com uma sequência de números
df.insert(0, 'ID', range(1, 9699))
df

,ID,Name,Symbol,Date,Open,High,Low,Close,Volume,Marketcap
17234,1,Cardano,ADA,2017-10-01,0.021678,0.032226,0.017354,0.024969,5.006870e+07,NaN
17235,2,Cardano,ADA,2017-10-02,0.024607,0.030088,0.019969,0.025932,5.764130e+07,NaN
17236,3,Cardano,ADA,2017-10-03,0.025757,0.027425,0.020690,0.020816,1.699780e+07,6.246507e+08
17237,4,Cardano,ADA,2017-10-04,0.020864,0.022806,0.020864,0.021931,9.000050e+06,5.409455e+08
17238,5,Cardano,ADA,2017-10-05,0.021951,0.022154,0.020859,0.021489,5.562510e+06,5.691340e+08
...,...,...,...,...,...,...,...,...,...,...
609793,9694,Ripple,XRP,2018-09-23,0.575220,0.595025,0.559651,0.570689,1.043970e+09,2.289899e+10
609794,9695,Ripple,XRP,2018-09-24,0.570614,0.580377,0.489646,0.494712,1.034380e+09,2.271562e+10
609795,9696,Ripple,XRP,2018-09-25,0.487622,0.546061,0.441519,0.526941,1.639680e+09,1.944193e+10
609796,9697,Ripple,XRP,2018-09-26,0.520288,0.566711,0.491498,0.516308,1.821610e+09,2.074436e+10
609797,9698,Ripple,XRP,2018-09-27,0.516478,0.550922,0.513967,0.541381,8.240830e+08,2.059243e+10

#### Restaurando o índice.

In [90]:
# Restaurar o índice
df = df.reset_index(drop=True)
df

,ID,Name,Symbol,Date,Open,High,Low,Close,Volume,Marketcap
0,1,Cardano,ADA,2017-10-01,0.021678,0.032226,0.017354,0.024969,5.006870e+07,NaN
1,2,Cardano,ADA,2017-10-02,0.024607,0.030088,0.019969,0.025932,5.764130e+07,NaN
2,3,Cardano,ADA,2017-10-03,0.025757,0.027425,0.020690,0.020816,1.699780e+07,6.246507e+08
3,4,Cardano,ADA,2017-10-04,0.020864,0.022806,0.020864,0.021931,9.000050e+06,5.409455e+08
4,5,Cardano,ADA,2017-10-05,0.021951,0.022154,0.020859,0.021489,5.562510e+06,5.691340e+08
...,...,...,...,...,...,...,...,...,...,...
9693,9694,Ripple,XRP,2018-09-23,0.575220,0.595025,0.559651,0.570689,1.043970e+09,2.289899e+10
9694,9695,Ripple,XRP,2018-09-24,0.570614,0.580377,0.489646,0.494712,1.034380e+09,2.271562e+10
9695,9696,Ripple,XRP,2018-09-25,0.487622,0.546061,0.441519,0.526941,1.639680e+09,1.944193e+10
9696,9697,Ripple,XRP,2018-09-26,0.520288,0.566711,0.491498,0.516308,1.821610e+09,2.074436e+10
9697,9698,Ripple,XRP,2018-09-27,0.516478,0.550922,0.513967,0.541381,8.240830e+08,2.059243e+10

### **6. Finalizando e guardando novos arquivos CSV**

#### Finalizando toda preparação, análise e limpeza do dataset. Ele será guardado em dois arquivos separados. Ao pensar na criação do banco de dados, a estratégia será criar duas tabelas, uma para dados qualitativos e outra para os dados quantitativos.

In [91]:
# Salvar o DataFrame em um novo arquivo CSV
df.to_csv('top_10_criptomoedas_2015-2018.csv', index=False)

In [92]:
# Copiar as colunas desejadas para um novo dataframe
new_df1 = df[['ID','Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Marketcap']].copy()
# Salvar o novo dataframe .em um arquivo CSV
new_df1.to_csv('precos_historicos.csv', index=False)

In [93]:
# Copiar as colunas desejadas para um novo dataframe
new_df2 = df[['ID', 'Name', 'Symbol']].copy()

# Salvar o novo dataframe em um arquivo CSV
new_df2.to_csv('criptomoedas.csv', index=False)